{% extends 'base.html' %}

{% block title %} Корзина - {{ cart|length }} товара {% endblock %}

{% block content %}

<div class="container">
  <section class="h-100 h-custom">
  <div class="container h-100 py-5">
    <div class="row mb-1">
        <div class="col-md-3 col-sm-6">
            <a class="btn btn-light" href="{% url 'stripePage:item_list' %}">Вернуться обратно</a>
        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center mt-4">
      <div class="col">

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="h5">Корзина:</th>
                <th scope="col">Количество</th>
                <th scope="col">Цена</th>
                <th scope="col">Конечная цена</th>
                <th scope="col">Удалить</th>
              </tr>
            </thead>
            <tbody>
            {% for item in cart %}
              {% with good=item.item %}
                <tr>
                  <th scope="row">
                    <div class="d-flex align-items-center">
                      <img src="{{ good.thumbnail.url }}" class="img-fluid rounded-3"
                        style="width: 120px;" alt="Image">
                      <div class="flex-column ms-4">
                        <p class="mb-2">{{ good.name }}</p>
                        <p class="mb-0">{{ good.description }}</p>
                      </div>
                    </div>
                  </th>
                  <td class="align-middle">

                    <div class="d-flex flex-row">
                      <form action="{% url 'stripePage:cart_add' good.pk %}" method="post">
                        {{ item.override_quantity_form.quantity }}
                        {{ item.override_quantity_form.update }}
                        <input type="submit" value="Обновить">
                        {% csrf_token %}
                      </form>

                    </div>
                  </td>
                  <td class="align-middle">
                    <p class="d-flex flex-row" style="font-weight: 200;">{{ item.price }} ₽</p>
                  </td>
                  <td class="align-middle">
                    <p class="d-flex flex-row" style="font-weight: 400;">{{ item.total_price }} ₽</p>
                  </td>
                  <td class="align-middle">
                    <a class="mb-0" href="{% url 'stripePage:cart_remove' good.pk %}">Удалить</a>
                  </td>
                </tr>
              {% endwith %}
            {% endfor %}

            </tbody>
          </table>
        </div>

        <div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px;">
          <div class="card-body p-4">

            <div class="row">

              <div class="col-sm">
                <div class="d-flex justify-content-between" style="font-weight: 500;">
                  <p class="mb-2">Общая стоимость</p>
                  <p class="mb-2">{{ cart.get_total_price }} ₽</p>
                </div>

                <div class="d-flex justify-content-between" style="font-weight: 500;">
                  <p class="mb-0">Доставка</p>
                  <p class="mb-0">0.00 ₽</p>
                </div>

                <hr class="my-4">

                <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                  <p class="mb-2">Итого </p>
                  <p class="mb-2">{{ cart.get_total_price }} ₽</p>
                </div>

                {% if cart|length > 0 %}
                  <form action="{% url 'stripePage:create-checkout-session' %}" method="POST">
                      <button type="submit" class="btn btn-primary btn-block btn-lg">
                        <div class="d-flex justify-content-between">
                          <span>Оплатить</span>
                        </div>
                        {% csrf_token %}
                      </button>
                  </form>
                {% endif %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

{% endblock %}